{% extends 'base.html.twig' %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block body %}

    <section class="container">

        <div class="row">
            <div class="col-md-4">
                <img src="{{ asset('uploads/' ~ book.image) }}" class="img-responsive img-thumbnail">
            </div>
            <div class="col-md-8">
                <h1>{{ book.title }}</h1>
                <div class="book-infos">
                    <span class="label label-info"><i class="fa fa-user"></i> {{ book.author.fullname }}</span>
                    {% for category in book.categories %}
                        <span class="label label-success"><i class="fa fa-tag"></i> {{ category.name }}</span>
                    {% endfor %}
                </div>
                <p>{{ book.synopsis }}</p>
            </div>
        </div>

    </section>

{% endblock %}