{% block extends %}
{{ "{% extends 'admin/layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
    <main class="container">
        <h1>{{ entity_singularized|capitalize }} edit</h1>

        {{ '{{ form_start(edit_form) }}' }}
            {{ '{{ form_widget(edit_form) }}' }}
            <button type="submit" class="btn btn-success">
                <i class="fa fa-save"></i> 
                Modifier
            </button>
        {{ '{{ form_end(edit_form) }}' }}

        {% set hide_edit, hide_delete = true, false %}
        {{ include('crud/views/others/record_actions.html.twig.twig') -}}
    </main>
{{ "{% endblock %}" }}
{% endblock body %}
