{% block extends %}
{{ "{% extends 'admin/layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
    <main class="container">
        <h1>{{ entity_pluralized|capitalize }} list</h1>

        {% if 'new' in actions -%}
            <a href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}" class="btn btn-primary">
                <i class="fa fa-play-circle"></i> 
                Ajouter
            </a>
        {%- endif %}

        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    {%- for field, metadata in fields %}
                        {%- if not loop.first %}
                            <th>{{ field|capitalize }}</th>
                        {%- endif %}
                    {%- endfor %}
                    <th class="table-actions-header">Actions</th>
                </tr>
            </thead>
            <tbody>
            {{ '{% for ' ~ entity_singularized ~ ' in ' ~ entity_pluralized ~ ' %}' }}
                <tr>

            {%- for field, metadata in fields %}
                {%- if loop.first and ('show' in actions) %}


                {%- elseif metadata.type in ['datetime'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                {%- elseif metadata.type in ['date'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

                {%- elseif metadata.type in ['time'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

                {%- elseif metadata.type in ['array'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

                {%- elseif metadata.type in ['boolean'] %}

                    <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

                {%- else %}

                    <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {%- endif %}

                {%- if loop.last %}

                <td>
                    {%- for action in record_actions %}
                        <a href="{{ "{{ path('" ~ route_name_prefix ~ "_" ~ action ~ "', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}" class="btn btn-{% if action == 'show' %}default{% else %}primary{% endif %}">
                            <i class="fa fa-{% if action == 'show' %}eye{% else %}edit{% endif %}"></i> 
                            {{ action }}
                        </a>
                    {%- endfor %}
                </td>

                {%- endif %}
            {%- endfor %}

                </tr>
            {{ '{% endfor %}' }}
            </tbody>
        </table>
    </main>
{{ "{% endblock %}" }}
{% endblock body %}
